main{
    justify-content: center;
    align-items: center;
    height: 768px;
}

main section{
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 251, 173);
    height: 500px;
    width: 90%;
    padding-top: 20px;
    border-radius: 30px;
    padding-bottom: 50px;
    justify-content: space-around;
    align-items: center;
}
main img{
    height: 250px;
}
main h1{
    font-weight: normal;
    font-size: 22px;
    color: rgb(0, 66, 11);
}
main p{
    font-weight: normal;
    font-size: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:480px) {
    main {
       height: 900px;
    }
    main section{
        width: 80%;
    }
}

@media (min-width:769px) {
    main {
       height: 1000px;
    }
    main section{
        width: 600px;
    }
    main h1{
        font-weight: normal;
        font-size: 26px;
        color: rgb(0, 66, 11);
    }
    main p{
        font-weight: normal;
        font-size: 24px;
    }
    main a{
        font-size: 25px;
    }
    main input{
        padding: 5px;
        font-size: 25;
    }
}
 
 @media (min-width:1080px) {
    main {
       height: 1500px;
    }

    main section{
        display: flex;
        flex-direction: row;
        height: 800px;
        width: 1100px;
        padding: 0 30px;
        border-radius: 30px;
        padding-bottom: 50px;
        justify-content: space-around;
        align-items: center;
    }
    main img{
        height: 300px;
    }
    main h1{
        font-size: 35px;
    }
    main p{
        font-size: 32px;
    }
}
