main img{
   border-radius: 25px;
   margin: 30px;
}
main {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 768px;
}
#img-producto{
   width: 40%;
}

#img-nombre{
   display: none;
   width: 40%;
}

@media (min-width:481px) {
   main {
      height: 900px;
   }
   #img-producto{
      width: 30%;
   }
}

@media (min-width:769px) {
   main {
      height: 1000px;
   }
   #img-nombre{
      display:block;
   }
   #img-producto{
      width: 20%;
   }
}

@media (min-width:1080px) {
   main {
      height: 1200px;
   }
   #img-producto{
      width: 216px;
   }
   
   #img-nombre{
      width: 432px;
   }
}
