main{
   height: 1920px;
}
main section{
   width:100%;
   height: 25%;
   display: flex;
   background-image: linear-gradient(rgb(25, 88, 35) 4%, rgba(25, 88, 35, 0) 14%);
}
main h3{
    font-weight: normal;
    font-size: 24px;
    color: rgb(0, 66, 11);
}
main p{
    font-weight: normal;
    font-size: 17px;
}
#first-section{
   background: url("../Images/menu1.jpg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#second-section{
   background: url("../Images/menu2.jpeg");
   background-size: 100% 100%;
}
#third-section{
   background: url("../Images/menu3.jpeg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
.text{
   background-image: linear-gradient(rgb(25, 88, 35) 4%, rgb(194, 251, 173) 14%);
   padding: 10px;
   width:80%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.image{
   width: 20%;
   height: 100%;
   background-image: linear-gradient(rgb(25, 88, 35) 4%, rgba(25, 88, 35, 0) 14%);
}
#first-section .image{
   background:none;
}
#first-section .text{
   background: none;
   background-color: rgb(194, 251, 173);
}
.left{
   flex-direction: row-reverse;
}
.left article{
   width: 100%;
   padding-left: 0;
}
.left p{
   text-align: right;
}
.left h3{
   text-align: right;
}
.right{
   justify-content: end;
}
.right article{
   width: 100%;
   padding-right: 0;
}
#last-section{
   padding: 10% 0;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
}
#last-section p{
   text-align: center;
   color: white;
}
#last-section h3{
   text-align: center;
   color: white;
   font-weight:bolder;
}
#last-section img{
   width: 150px;
   height: 300px;
}

@media (min-width:480px) {
   main {
      height: 2000px;
   }
   main h3{
      font-size: 25px;
   }
   main p{
      font-size: 18px;
   }
   .left article{
      padding-left: 5%;
   }
   .right article{
      padding-right: 5%;
   }
   .text{
      width:63%;
   }
   .image{
      width: 37%;
   }
}

@media (min-width:725px) {
   main {
      height: 3200px;
   }
   #last-section img{
      width: 200px;
      height: 400px;
   }
   main h3{
      font-size: 32px;
   }
   main p{
      font-size: 25px;
   }
   #first-section{
      background-size: 30% 100%;
      background-repeat: no-repeat;
   }
   #second-section{
      background-size: 60% 100%;
   }
   #third-section{
      background-size: 30% 100%;
      background-repeat: no-repeat;
   }
   .text{
      width:70%;
      padding: 20px;
   }
   .image{
      width: 30%;
   }
   .left article{
      padding-left: 15%;
   }
   .right article{
      padding-right: 15%;
   }
   main a{
      font-size: 20px;
      margin: 0 10px;
   }
}

@media (min-width:1000px) {
   main {
      height: 3600px;
   }
   main h3{
      font-size: 34px;
   }
   main p{
      font-size: 27px;
   }
   .left article{
      padding-left: 30%;
   }
   .right article{
      padding-right: 30%;
   }
}

@media (min-width:1500px) {
   main {
      height: 4800px;
   }
   main h3{
      font-size: 40px;
   }
   main p{
      font-size: 30px;
   }
   #first-section{
      background-size: 45% 100%;
      background-repeat: no-repeat;
   }
   #second-section{
      background-size: 55% 100%;
   }
   #third-section{
      background-size: 45% 100%;
      background-repeat: no-repeat;
   }
   .text{
      width:55%;
   }
   .image{
      width: 45%;
   }
   .left article{
      padding-left: 40%;
   }
   .right article{
      padding-right: 40%;
   }
   main a{
      font-size: 25px;
      margin: 0 20px;
   }
}
