@font-face {
    font-family: 'Roboto';
    src: url('../Roboto/Roboto-Regular.ttf');
 }

body{
    margin: 0;
    font-family: Roboto;
}
header{
    display: flex;
    flex-direction: row;
    background-color: rgb(25, 88, 35);
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 8% 0 1%;
 }
 
 header a {
    margin: 0 8px 0 8px;
 }
 
 header h1{
    font-size: 50px;
    color: white;
 }
 
 header div{
    display:flex;
    height: 100%;
    align-items: center;
 }

main{
    display: flex;
    background-image: url("../Images/LeafMed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin: 0;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(194, 251, 173);
    margin: 0;
}

.pay{
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 251, 173);
    height: 700px;
    width: 600px;
    padding: 10px;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}
.pay h3{
    font-weight: normal;
    font-size: 25px;
    color: rgb(0, 66, 11);
}

.pay p{
    font-weight: normal;
    font-size: 25px;
}

.logo{
    height: 80%;
    border-radius: 50%;
    clip-path: inset(0 5px 0 5px);
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-child{
    display: flex;
    width: 100%;
}

#nombre{
    margin-right: 5px;
}

#apellido{
    margin-left: 5px;
}

#pseImg{
    width: 100px;
    height: 40px;
}

.info input{
    border-radius: 30px;
    background-color: 	rgb(130, 194, 136);
    border-width: 0;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    padding-left: 10px;
    color: black;
}

.mPago{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 55%;
}

.mPago input{
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgb(50, 222, 67);
    border-radius: 5px;
    cursor: pointer;
}

.mPago input:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: white;
    display: none;
}

.mPago input:hover{
    background-color: rgb(70, 242, 87);
}

.mPago input:checked{
    background-color: rgb(20, 192, 37);
}

.mPago input:checked:after{
    background-color: rgb(20, 192, 37);
    display: block;
}

.mPago label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.pse{
    display: flex;
    align-items: center;
}
.recurso{
    margin: 0 2% 0 2%;
}

.recurso p{
    color:rgb(25, 88, 35)
}

a {
    text-decoration: none;
    background-color: rgb(25, 88, 35);
    padding: 2px 25px 2px 25px;
    border-radius: 20px;
    color: white;
    border-style: solid;
    border-color: rgb(50, 222, 67);
    border-width: 2px;
}
