main {
    justify-content: center;
    align-items: center;
    height: 768px;
}

main section{
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 251, 173);
    height: 700px;
    width: 90%;
    padding: 10px;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}
main h3{
    font-weight: normal;
    font-size: 22px;
    color: rgb(0, 66, 11);
    text-align: center;
}

main p{
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.info-child{
    width: 90%;
}

.info-child input{
    width: 100%;
}

#pseImg{
    width: 100px;
    height: 40px;
}

.info input{
    border-radius: 30px;
    background-color: 	rgb(130, 194, 136);
    border-width: 0;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    padding-left: 10px;
    color: black;
}

.mPago{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 30%;
}

.mPago input{
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgb(50, 222, 67);
    border-radius: 5px;
    cursor: pointer;
}

.mPago input:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: white;
    display: none;
}

.mPago input:hover{
    background-color: rgb(70, 242, 87);
}

.mPago input:checked{
    background-color: rgb(20, 192, 37);
}

.mPago input:checked:after{
    background-color: rgb(20, 192, 37);
    display: block;
}

.mPago label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.pse{
    display: flex;
    align-items: center;
}

@media (min-width:480px) {
    main {
       height: 900px;
    }
    main section{
        width: 80%;
    }
 }

@media (min-width:600px) {
    main section{
        width: 500px;
    }

    .nickname{
        display: flex;
        justify-content: space-between;
    }
    
    .nickname label{
        width: 49%;
    }
}

@media (min-width:769px) {
    main {
       height: 1000px;
    }

    main h3{
        font-size: 26px;
    }
    
    main p{
        font-size: 24px;
    }
 }

@media (min-width:1080px) {
    main {
       height: 1500px;
    }

    main section{
        width: 600px;
    }
 }
