@font-face {
    font-family: 'Roboto';
    src: url('../Roboto/Roboto-Regular.ttf');
}

body {
    font-family: Roboto, sans-serif;
    background-image: url("../Images/LeafMed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px; /* Fijo para móviles y escritorio */
    height: 1000px; /* Fijo para móviles y escritorio */
    background: rgb(194, 251, 173);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%; /* Asegura que el form use todo el ancho de main */
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 45px;
    color: rgb(25, 88, 35);
}

input {
    border-radius: 30px;
    background-color: rgb(130, 194, 136);
    border: none;
    margin: 10px 0;
    padding: 15px;
    color: black;
    width: 60%; /* Ancho fijo */
    max-width: 500px; /* Ancho máximo para no desbordarse en dispositivos más anchos */
}

div p, div a {
    text-align: center; /* Centrado sin posicionamiento absoluto */
    color: white;
}

div {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    background-color: rgb(25, 88, 35);
    padding: 10px 25px;
    border-radius: 20px;
    color: white;
    border: 2px solid rgb(50, 222, 67);
    display: inline-block; /* Para que funcione el padding y el margin */
    margin-top: 10px;
}
