@font-face {
    font-family: 'Roboto';
    src: url('../Roboto/Roboto-Regular.ttf');
}

body{
    font-family: Roboto;
    background-image: url("../Images/LeafMed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

main{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,  -50%);
    width: 800px;
    height: 1000px;
    background: rgb(194, 251, 173);
    border-radius: 10px;
}

h1{
    text-align: center;
    margin: 0;
    padding: 300px 0 20px 0;
    font-size: 45px;
    font-family: Roboto;
    color: rgb(25, 88, 35);
}

form{
    padding: 10px 315px;
    box-sizing: border-box;
}
    
div p{
    color:  rgb(255, 255, 255);
    font-size: 25px;
    margin: 0; 
    position: absolute; 
    top: 390px; 
    left: 460px; 
}

div a {
    position: absolute; 
    top: 430px; 
    left: 500px; 
}
a {
    text-decoration: none;
    background-color: rgb(25, 88, 35);
    padding: 2px 25px 2px 25px;
    border-radius: 20px;
    color: white;
    border-style: solid;
    border-color: rgb(50, 222, 67);
    border-width: 2px;
}

input{
    border-radius: 30px;
    background-color: 	rgb(130, 194, 136);
    border-width: 0;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    padding-left: 10px;
    color: black;
    width: 100%;
}

/* Media Queries para ajustes específicos de móviles */
@media screen and (max-width: 768px) { /* Puede que necesites ajustar este valor según tus necesidades */
    
    /* Ajusta el main para que no use posición absoluta y sea más adaptable */
    main {
        position: static; /* o podrías usar 'relative' si necesitas usar top/right/bottom/left */
        transform: none;
        width: 90%; /* Toma el 90% del ancho de la pantalla */
        margin: 20px auto; /* Esto centrará tu formulario en la pantalla con margen arriba y abajo */
        height: auto; /* Altura automática para contener todo tu contenido */
    }

    /* Asegúrate de que el h1 no tenga un padding demasiado grande */
    h1 {
        padding: 20px 0;
        font-size: 2em; /* Tamaño de fuente más pequeño para dispositivos móviles */
    }

    /* Ajustes en el formulario para un mejor padding */
    form {
        padding: 10px; /* Menos padding en dispositivos móviles */
    }
    
    /* Los inputs ya están configurados bien para móviles ya que toman el 100% del ancho disponible */
    
    /* Ajustar la posición del texto y el enlace de iniciar sesión */
    div p, div a {
        position: static; /* Quita la posición absoluta */
        margin: 10px 0;
        text-align: center; /* Centra el texto y el enlace en dispositivos móviles */
        left: auto; /* Restablece la propiedad left */
        top: auto; /* Restablece la propiedad top */
    }

    /* Los estilos de a no necesitan ajuste, ya que son bastante responsivos */
}
