@font-face {
    font-family: 'Roboto';
    src: url('../Roboto/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto';
    background-image: url("../Images/LeafMed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    max-height: 1000px;
    height: auto;
    background: rgb(194, 251, 173);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 10% 0 20px 0; /* Use percentage for padding-top */
    font-size: calc(16px + (29 - 16) * ((100vw - 300px) / (1600 - 300)));
    color: rgb(25, 88, 35);
}

form {
    padding: 10px 5%;
    box-sizing: border-box;
}

div p {
    color: white;
    font-size: calc(12px + (25 - 12) * ((100vw - 300px) / (1600 - 300)));
    margin: 0;
    position: absolute;
    top: 390px; /* Consider using 'top' with a percentage */
    left: 50%;
    transform: translateX(-50%);
}

div a {
    position: absolute;
    top: 430px; /* Consider using 'top' with a percentage */
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
    background-color: rgb(25, 88, 35);
    padding: 2px 25px;
    border-radius: 20px;
    color: white;
    border: 2px solid rgb(50, 222, 67);
    font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
}

input {
    border-radius: 30px;
    background-color: rgb(130, 194, 136);
    border: none;
    margin: 10px 0;
    padding: 5px 10px;
    color: black;
    width: 100%;
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
}

@media (max-width: 768px) {
    main {
        max-width: 600px;
        padding: 20px;
    }

    h1 {
        padding: 15% 0 20px 0;
    }

    div p, div a {
        top: auto;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 480px) {
    main {
        max-width: 90%;
    }

    h1 {
        padding-top: 20%;
    }
}
