main {
   height: 2200px;
   display: flex;
   align-items: center;
}
main a{
   padding: 3px 8px;
   border-radius: 10px;
}
main img{
   height: 80px;
   border-radius: 100px;
}
#inicio{
   display: flex;
}
#inicio p{
   color: white;
   font-size: 20px;
   margin: 0 10px;
}
main h3{
   font-size: 24px;
}

main p{
   font-size: 20px;
}
#inicio a{
   margin: 0 10px;
}
.container{
   background-color: rgb(194, 251, 173);
   margin: 20px 0;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.container figure{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: flex-start;

}
.container figure h3{
   margin: 0 10px;
}
.container p{
   background-color: #85B473;
   padding: 30px;
   margin: 0 5%;
   border-radius: 30px;
}

@media (min-width:480px) {
   main {
      height: 1700px;
   }
   .container p{
      margin: 0 10%;
   }
}

@media (min-width:769px) {
   main {
      height: 1800px;
   }
   main h3{
       font-size: 26px;
   }
   main p{
       font-size: 24px;
   }
   .container p{
      margin: 0 20%;
   }
}

@media (min-width:1080px) {
   main {
      height: 1600px;
   }
   main h3{
      font-size: 30px;
   }
  main p{
      font-size: 27px;
  }
}
