
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
 }

 body {
    background-image: url('LeafMed.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center; /* Para centrar el contenido */
}

header {
    background-color: rgba(44, 122, 45, 0.8);
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    width: 100%; /* Asegura que ocupa el ancho total */
}

header a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.wrapper {
    flex: 1; /* Para ocupar todo el espacio disponible */
    background-color: #C2FBAD;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 90%; /* Reduce el ancho para mejor apariencia */
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

h1 {
    color: #2c7a2d;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

input[type="text"], .btn-resena {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 100%;
    margin-right: 10px;
    flex-grow: 1;
    box-sizing: border-box;
}

button, .btn-resena {
    background-color: #2c7a2d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover, .btn-resena:hover {
    background-color: #1f5820;
}

footer {
    background-color: rgb(194, 251, 173);
    color: #000000;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h4 {
    color: #2c7a2d;
    font-size: 1.2em;
}

footer p {
    margin: 5px 0;
}

footer div {
    flex: 1;
    padding: 10px;
}

footer a {
    color: rgb(25, 88, 35);
    text-decoration: none;
    margin: 2px 30px;
    display: inline-block;
}
