@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
 }

body{
    margin: 0;
    font-family: Roboto;
}

header{
    display: flex;
    flex-direction: row;
    background-color: rgb(25, 88, 35);
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 8% 0 1%;
 }
 
 header a {
    margin: 0 8px 0 8px;
 }
 
 header h1{
    font-size: 50px;
    color: white;
 }
 
 header div{
    display:flex;
    height: 100%;
    align-items: center;
 }

main{
    display: flex;
    background-image: url("../Images/LeafMed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(194, 251, 173);
    margin: 0;
}

.logo{
    height: 80%;
    border-radius: 50%;
    clip-path: inset(0 5px 0 5px);
}

.recurso{
    margin: 0 2% 0 2%;
}

.recurso p{
    color:rgb(25, 88, 35)
}

a {
    text-decoration: none;
    background-color: rgb(25, 88, 35);
    padding: 2px 25px 2px 25px;
    border-radius: 20px;
    color: white;
    border-style: solid;
    border-color: rgb(50, 222, 67);
    border-width: 2px;
}

.end{
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 251, 173);
    height: 500px;
    width: 800px;
    padding: 10px;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

.end p{
    margin: 0 28% 0 28%;
}

.end h1{
    margin: 0 17% 0 17%;
    color: rgb(0, 66, 11);
}

.end h3{
    font-weight: normal;
    font-size: 25px;
    color: rgb(0, 66, 11);
}
