@font-face {
   font-family: 'Roboto';
   src: url('Roboto-Regular.ttf');
}
main h1 {
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-family: Roboto;
   text-align: center;
}
main a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-family: Roboto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
body{
    background-image: url("LeafMed.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}
header {
   background-color: rgb(25, 88, 35);
   padding: 30px;
   text-align: center;
   font-family: Roboto;
} 
header a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   .miBotonEstilo {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(194, 251, 173);
      color: #000000;
      border: 2px solid rgb(0, 0, 0);
      padding: 10px 20px;
      border-radius: 15px;
      text-decoration: none; /* Evita el subrayado de enlaces */
      display: inline-block; /* Para que el enlace tome solo el espacio necesario */
    }
    
    .miBotonEstilo:hover {
      background-color: #0056b3; /* Cambia el color de fondo cuando se coloca el cursor sobre el botón */
    }
}  
footer {
      background-color: rgb(194, 251, 173);
      color: #000000;
      text-align: center;
      padding: 10px;
      position: fixed;
      width: 100%;
      height: 200px;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Roboto;
   } 
  /* Ajusta el estilo de los títulos del footer */
  footer a {
   color: rgb(25, 88, 35);
   text-decoration: none;
   margin: 2px 30px;
   display: inline-block; /* Muestra los enlaces en línea */
  }
  footer h4 {
      margin-bottom: 10px;
   }
   footer div {
      text-align: center;
      margin: 100; ; /* Agrega margen derecho para espaciar los bloques */
   }
