@font-face {
    font-family: 'Roboto';
    src: url('../Roboto/Roboto-Regular.ttf');
 }
main{
    display: flex;
    height: 800px;
    margin: 0;
    justify-content: center;
    align-items: center;
}
body{
    background-image: url("../Images/LeafMed.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.inicio{
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 251, 173);
    height: 450px;
    width: 500px;
    padding: 30px;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}
.inicio h1{
    font-weight: normal;
    font-size: 30px;
    color: rgb(0, 66, 11);
}

.inicio p{
    font-weight: normal;
    font-size: 20px;
}

.logo{
    height: 80%;
    border-radius: 50%;
    clip-path: inset(0 5px 0 5px);
}
a {
    text-decoration: none;
    background-color: rgb(25, 88, 35);
    padding: 2px 25px 2px 25px;
    border-radius: 20px;
    color: white;
    border-style: solid;
    border-color: rgb(50, 222, 67);
    border-width: 2px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.info input{
    border-radius: 30px;
    background-color: 	rgb(130, 194, 136);
    border-width: 0;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    padding-left: 10px;
    color: black;
    width: 100%;
}
